.signUpScreen__Container {
	position: absolute;
	top: 0;
	z-index: 99;
	min-width: 100%;
	min-height: 100%;
	background: rgba(0, 0, 0, 0.85);
}

.cancelButton_container {
	position: relative;
	min-width: 100%;
}
.cancelButton {
	position: absolute;
	right: -15px;
	top: -70px;
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 30px;
	width: 30px;
	border-radius: 50px;
	background: none;
	transition: background 300ms ease-in;
}

.cancelButton > i {
	font-size: 20px;
}

.cancelButton:hover {
	background: #02ffd1;
	cursor: pointer;
}

.signUpScreen {
	max-width: 250px;
	padding: 30px;
	margin-left: auto;
	margin-right: auto;
	background: linear-gradient(160.6deg, #02c0c0 2.26%, #010101 97.33%);
	box-shadow: 0px 4px 4px rgba(255, 255, 255, 0.25);
	border-radius: 40px;
	border-radius: 20px;
	margin-top: 200px;
}

.signUpScreen > form > h1 {
	text-align: center;
	margin-bottom: 25px;
	color: #ffffff;
}

.form-p {
	text-align: center;
	margin-top: 7px;
	margin-bottom: 4px;
	color: #ffffff;
	font-weight: normal;
	font-size: 14px;
}

.signUpScreen > form > h4 {
	text-align: center;
	margin-top: 30px;
	color: #ffffff;
}

.signUpScreen__gray {
	color: gray;
}

.signUpScreen > form {
	display: grid;
	flex-direction: column;
}

.signupScreen_password > input,
.signUpScreen_confirmPassword > input,
.signUpScreen > form > input {
	outline-width: 0;
	width: 90%;
	height: 35px;
	margin-top: 20px;
	border-radius: 5px;
	border: none;
	padding: 5px 15px;
	background: rgba(255, 255, 255, 0.3);
	border-radius: 10px;
	color: #ffffff;
}

.signupScreen_password > input::placeholder,
.signUpScreen_confirmPassword > input::placeholder,
.signUpScreen > form > input::placeholder {
	color: #ffffff;
}

.signUpScreen > form > button {
	padding: 14px 15px;
	font-size: 1rem;
	color: #ffffff;
	border: none;
	border-radius: 10px;
	margin-top: 20px;
	background: linear-gradient(
		263.41deg,
		rgba(1, 141, 185, 0.71) 0%,
		#02ffd1 100%
	);
	border: none;
	font-weight: 600;
	cursor: pointer;
}

.signUpScreen__link:hover {
	cursor: pointer;
	text-decoration: underline;
}

.SignInVal {
	background: rgb(175, 0, 0);
	color: rgb(255, 255, 255);
	margin-top: 5px;
	padding: 6px 7px;
	border-radius: 5px;
	font-size: 12px;
	text-align: center;
}

.form-p:hover {
	cursor: pointer;
	text-decoration: underline;
}

.forgotPasswordContainer {
	display: flex;
	justify-content: center;
	position: absolute;
	top: 0;
	z-index: 100;
	min-width: 100%;
	min-height: 100%;
	background: rgba(0, 0, 0, 0.95);
}

.forgotPasswordOpen {
	display: flex;
	flex-direction: column;
	z-index: 101;
	margin-top: 300px;
	max-width: 320px;
	min-width: 320px;
}

.forgotPasswordOpen > i {
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 30px;
	width: 30px;
	margin-left: auto;
	font-size: 22px;
	margin-bottom: 10px;
	margin-right: 10px;
	border-radius: 50px;
	background: none;
	transition: background 300ms ease-in;
}

.forgotPasswordOpen > i:hover {
	background: #02ffd1;
	cursor: pointer;
}

.forgotPasswordOpen > form {
	padding: 10px 20px;
	display: flex;
	flex-direction: column;
	max-width: 320px;
	background: linear-gradient(160.6deg, #02c0c0 2.26%, #010101 97.33%);
	box-shadow: 0px 4px 4px rgba(255, 255, 255, 0.25);
	border-radius: 20px;
}

.forgotPasswordOpen > form > button {
	margin-top: 20px;
	margin-bottom: 20px;
	height: 40px;
	background: linear-gradient(
		263.41deg,
		rgba(1, 141, 185, 0.71) 0%,
		#02ffd1 100%
	);
	border-radius: 5px;
	border-style: none;
	color: azure;
	padding: 10px 20px;
	cursor: pointer;
	font-weight: bold;
}

.forgotPasswordOpen > form > input {
	margin-top: 20px;
	padding: 10px;
	height: 20px;
	border-radius: 5px;
	border: none;
	outline: none;
}
.signupScreen_password,
.signUpScreen_confirmPassword {
	position: relative;
}

.signupScreen_password > i,
.signUpScreen_confirmPassword > i {
	position: absolute;
	right: 10px;
	top: 35px;
	color: white;
	cursor: pointer;
}
