.featured_container {
	height: 70vh;
	width: 100%;
	position: absolute;
}

.featuredBanner {
	display: flex;
	flex-direction: column;
	padding: 0;
	margin-bottom: 60px;
	padding-top: 200px;
	background: radial-gradient(
		51.61% 381.19% at 76.59% 30.58%,
		rgba(0, 0, 0, 0.19) 0%,
		rgba(0, 0, 0, 0.95) 100%
	);
	height: 78%;
	width: 100%;
}

.featuredBanner_contents {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding-left: 20px;
}

.banner_title {
	width: 450px;
	font-family: Sansation;
	font-size: 40px;
	color: #02ffd1;
	font-weight: bold;
	margin-bottom: 10px;
}

.banner_description {
	max-width: 450px;
}

.banner_description,
.rating {
	font-weight: 400;
	color: azure;
	margin-bottom: 10px;
}

.banner_buttons {
	display: flex;
	justify-content: center;
}

.info_button {
	margin-top: 5px;
	width: 35px !important;
	height: 35px !important;
	background: linear-gradient(
		263.41deg,
		rgba(1, 141, 185, 0.71) 0%,
		#02ffd1 100%
	);
	border-radius: 50px;
	cursor: pointer;
}

@media only screen and (max-height: 600px) {
	.featured_container {
		height: 100vh;
	}
}
