.header {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	position: fixed;
	z-index: 100;
	width: 100vw;
	height: 66px;
	top: 0px;
	background: linear-gradient(
		180deg,
		#000000 48.96%,
		rgba(0, 0, 0, 0) 103.13%
	);
	mix-blend-mode: normal;
}
.header_left {
	display: flex;
	align-items: center;
	padding-left: 20px;
}
.header_left > h2 {
	cursor: pointer;
	color: #02ffd1;
	font-family: PT Sans;
	font-style: normal;
	font-size: 35px;
}
.header_center {
	display: flex;
	margin-left: auto;
}
.home_link > p {
	margin: 0 15px;
	cursor: pointer;
	font-family: Roboto;
	font-style: normal;
	font-size: 16px;
	line-height: 30px;
	font-weight: bold;
	color: #ffffff;
}

.home_link {
	text-decoration: none;
	margin-right: 15px;
}
.header_right {
	display: flex;
	align-items: center;
	padding-right: 20px;
	margin-left: auto;
}

.header_right_search {
	display: flex;
	align-items: center;
	position: relative;
	width: 120px;
	background: tomato;
}

.header_right_modal,
.search_icon {
	position: absolute !important;
}

.header_right_modal {
	z-index: 1000;
	width: 150vw;
	height: 500vh;
	left: -100vw;
	top: -10vh;
}

.header_right_input {
	position: absolute;
	margin-left: auto;
	left: 0;
	z-index: 1001;
	padding: 6px 12px;
	border-radius: 5px;
	border: none;
	outline: none;
	background: transparent;
	width: 0;
	transition: all 400ms ease-in-out;
}

.header_right_input_expand {
	width: 100px;
	margin-left: auto;
	left: 0;
	background: rgb(207, 207, 207);
}

.search_icon {
	z-index: 1002;
	right: -10px;
}

.search_icon,
.avatar {
	color: #02ffd1 !important;
}

.home_link > p:hover,
.active_link > p {
	color: #02ffd1;
	position: relative;
}

.active_link > p::after {
	background: #02ffd1;
	position: absolute;
	min-width: 140%;
	bottom: -17px;
	content: '';
	display: block;
	min-height: 2.5px;
	z-index: 999;
	left: -21%;
}

.avatarContents {
	position: absolute;
	right: 10px;
	top: 50px;
	z-index: 999;
	background: rgba(0, 0, 0, 0.75);
	border-radius: 5px;
	min-width: 150px;
	padding: 7px;
}

.avatarmenu_parent {
	position: relative;
}

.avatarContents_myAccountButton:hover,
.avatarContents_logoutButton:hover {
	background: rgba(255, 255, 255, 0.3);
	border-radius: 5px;
}

.avatarContents_myAccountButton,
.avatarContents_logoutButton {
	color: white;
	padding: 10px 12px;
	cursor: pointer;
}

.avatarContents_myAccountButton > i,
.avatarContents_logoutButton > i {
	margin-right: 5px;
}

.avatarContentsModal {
	position: absolute;
	z-index: 200;
	min-height: 200vh;
	min-width: 200vw;
	left: -100vw;
	top: -20vh;
}
