.header {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	position: fixed;
	z-index: 100;
	width: 100vw;
	overflow: hidden;
	height: 66px;
	top: 0px;
	background: linear-gradient(
		180deg,
		#000000 48.96%,
		rgba(0, 0, 0, 0) 103.13%
	);
	mix-blend-mode: normal;
}
.header_left {
	display: flex;
	align-items: center;
	padding-left: 20px;
}
.header_left > h2 {
	cursor: pointer;
	color: #02ffd1;
	font-family: PT Sans;
	font-style: normal;
	font-size: 35px;
}
.header_center {
	display: flex;
	flex: 1;
	justify-content: center;
}
.home_link > p {
	margin: 0 15px;
	cursor: pointer;
	font-family: Roboto;
	font-style: normal;
	font-size: 16px;
	line-height: 30px;
	font-weight: bold;
	color: #ffffff;
}

.home_link {
	text-decoration: none;
	margin-right: 15px;
}
.header_right {
	display: flex;
	align-items: center;
	padding-right: 20px;
}
.search_icon,
.avatar {
	color: #02ffd1 !important;
}

.home_link > p:hover,
.active_link > p {
	color: #02ffd1;
	position: relative;
}

.active_link > p::after {
	background: #02ffd1;
	position: absolute;
	min-width: 140%;
	bottom: -17px;
	content: '';
	display: block;
	min-height: 2.5px;
	z-index: 999;
	left: -21%;
}
