.homeRowMain {
	position: relative;
	width: 100vw;
}

.homeRowMain__leftButton,
.homeRowMain__rightButton {
	position: absolute;
	top: 0;
	height: 100%;
	z-index: 99;
	display: flex;
	align-items: center;
	pointer-events: none;
}
.homeRowMain__leftButton {
	left: 0;
}

.homeRowMain__leftButton > div,
.homeRowMain__rightButton > div {
	height: 50px;
	width: 50px;
	margin: 0 30px;
	background: rgb(255, 255, 255);
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	pointer-events: auto;
}

.homeRowMain__leftButton > div > i,
.homeRowMain__rightButton > div > i {
	font-size: 32px;
	color: rgb(0, 0, 0);
}

.homeRowMain__rightButton {
	right: 0;
}

.homeRow {
	color: rgb(12, 12, 12);
	color: #fff;
	padding-left: 20px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-bottom: 45px;
	max-width: calc(100%-40px);
	overflow-x: scroll;
	scroll-behavior: smooth;
}

.homeRow > h2 {
	z-index: 1;
}

.homeRow::-webkit-scrollbar {
	display: none;
}

.row {
	display: flex;
	margin-top: 15px;
}

.RowImage {
	height: 350px;
	transform: scale(1);
	transition: transform 400ms ease-in-out;
}

.imageBox {
	position: relative;
	overflow: hidden;
	border-radius: 40px;
	display: flex;
	cursor: pointer;
	margin-right: 20px;
}

.imageBackdrop {
	position: absolute;
	display: flex;
	justify-content: space-around;
	height: 100%;
	min-width: 100%;
	background: radial-gradient(
		76.27% 76.27% at 53.32% 100%,
		#000000 0%,
		rgba(0, 0, 0, 0.3) 100%
	);
	bottom: -200%;
	left: 0;
}
.imageBackdropButtons {
	margin-top: auto;
	margin-bottom: 20px;
	display: flex;
	justify-content: space-evenly;
	width: 100%;
}
.imageBackdropButtons > div {
	margin: 0;
	outline: none;
	background: linear-gradient(
		263.41deg,
		rgba(1, 141, 185, 0.71) 0%,
		#02ffd1 100%
	);
	color: white;
	border: none;
	border-radius: 100%;
	padding: 12px;
	text-align: center;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.imageBackdropButtons > div > i {
	font-weight: 600;
	font-size: 18px;
}

.imageBox:hover .imageBackdrop {
	bottom: 0;
}
.imageBox:hover .RowImage {
	transform: scale(1.1);
}

@media only screen and (max-width: 800px) {
	.RowImage {
		height: 220px;
	}

	.imageBackdropButtons > div > i {
		font-size: 14px;
	}

	.imageBackdropButtons > div {
		padding: 6px;
	}

	.homeRowMain__leftButton > div,
	.homeRowMain__rightButton > div {
		height: 35px;
		width: 35px;
		margin: 0 20px;
	}

	.homeRowMain__leftButton > div > i,
	.homeRowMain__rightButton > div > i {
		font-size: 20px;
	}
}
