.homeScreen {
	min-height: 100vh;
	width: 100%;
	background-color: #121212;
	overflow-x: hidden;
}
.homeScreen_rows {
	z-index: 2;
	margin-top: 40vh;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

@media only screen and (max-height: 1080px) and (min-height: 801px) {
	.homeScreen_rows {
		margin-top: 55vh;
	}
}
@media only screen and (max-height: 800px) and (min-height: 701px) {
	.homeScreen_rows {
		margin-top: 65vh;
	}
}

@media only screen and (max-height: 700px) and (min-height: 601px) {
	.homeScreen_rows {
		margin-top: 73vh;
	}
}
@media only screen and (max-height: 600px) {
	.homeScreen_rows {
		margin-top: 90vh;
	}
}
