.loadingContainer {
	position: fixed;
	height: 100vh;
	width: 100vw;
	display: flex;
	align-items: center;
	justify-content: center;
	background: rgba(0, 0, 0, 0.945);
	z-index: 999;
}

@media only screen and (max-width: 800px) {
	.loadingContainer > span {
		margin-left: -180px;
	}
}
