.loginScreen {
	width: 100%;
	height: 100%;
	background: linear-gradient(
		164.45deg,
		rgba(0, 0, 0, 0.8) 51.73%,
		rgba(0, 196, 196, 0.8) 93.27%
	);
	position: relative;
	max-width: 100vw;
	overflow: hidden;
}

.loginScreen_top {
	position: relative;
	margin-top: 200px;
}

.loginScreen_poster {
	min-width: 100vw;
	max-width: 100vw;
	height: 30%;
	background: rgba(0, 0, 0, 0.6);
	object-fit: scale-down;
}

.loginScreen_topContents {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 100%;
	top: 0;
	z-index: 2;
	position: absolute;
	background: rgba(0, 0, 0, 0.6);
	mix-blend-mode: normal;
}

.sentence1,
.sentence2,
.sentence3,
.sentence4 {
	font-family: Roboto;
	font-style: normal;
	text-align: center;
	color: #ffffff;
}

.sentence1 {
	font-weight: 500;
	font-size: 75px;
	margin-bottom: 30px;
}
.sentence2 {
	font-weight: bold;
	font-size: 40px;
	margin-bottom: 30px;
}
.sentence3 {
	font-weight: normal;
	font-size: 25px;
	margin-bottom: 10px;
}
.sentence4 {
	font-weight: 500;
	font-size: 40px;
	margin-bottom: 15px;
}

.emailbar {
	display: flex;
	width: 750px;
	height: 40px;
	background: #ffffff;
	border-radius: 5px;
	align-items: center;

	font-family: Roboto;
	font-style: normal;
	font-size: 15px;
	color: #616161;
}

.emailbar > input {
	padding: 10px;
	height: 20px;
	width: 80%;
	border: none;
	outline: none;
}

.getStarted_button {
	margin-left: auto;
	height: 40px;
	background: linear-gradient(
		263.41deg,
		rgba(1, 141, 185, 0.71) 0%,
		#02ffd1 100%
	);
	border-radius: 5px;
	border-style: none;
	color: azure;
	padding: 10px 20px;
	cursor: pointer;
	font-weight: bold;
}

.loginScreen_bottom {
	padding-top: 40px;
}

.loginScreen_poster1 {
	min-width: 100vw;
	max-width: 100vw;
	margin-bottom: 100px;
}

.moviePosters {
	display: flex;
	max-width: 100vw;
	overflow-x: scroll;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
	border-radius: 40px;
	margin-top: 50px;
	margin-left: 25px;
	margin-bottom: 30px;
}

.moviePosters::-webkit-scrollbar {
	display: none;
}

.moviePosters > img {
	height: 300px;
	padding-right: 20px;
}

.loginScreen_header {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	position: fixed;
	z-index: 10;
	width: 100vw;
	height: 66px;
	background: linear-gradient(
		180deg,
		#000000 48.96%,
		rgba(0, 0, 0, 0) 103.13%
	);
	mix-blend-mode: normal;
}
.loginScreen_headerLeft {
	padding-left: 20px;
}
.loginScreen_headerLeft > h2 {
	color: #02ffd1;
	font-family: PT Sans;
	font-style: normal;
	font-size: 35px;
}

.loginScreen_headerRight {
	align-items: center;
	padding-right: 50px;
	margin-left: auto;
}

.loginScreen_signIn {
	margin-left: auto;
	height: 35px;
	background: linear-gradient(
		263.41deg,
		rgba(1, 141, 185, 0.71) 0%,
		#02ffd1 100%
	);
	border-radius: 5px;
	border-style: none;
	color: azure;
	padding: 10px 20px;
	cursor: pointer;
	font-weight: bold;
}

@media only screen and (max-width: 800px) {
	.loginScreen_top {
		margin-top: 200px;
	}
	.moviePosters > img {
		height: 120px !important;
	}

	.moviePosters {
		border-radius: 10px;
		margin-top: 10px;
	}

	.loginScreen_bottom {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	.loginScreen_bottom > p {
		font-size: 12px;
	}

	.loginScreen_bottom > img {
		min-width: 80vw;
		max-width: 80vw;
		margin-bottom: 30px;
	}

	.loginScreen_topContents > .sentence1 {
		font-size: 20px;
		margin-bottom: 20px;
	}

	.loginScreen_topContents > .sentence2 {
		font-size: 15px;
		margin-bottom: 20px;
	}

	.loginScreen_topContents > .sentence3 {
		font-size: 10px;
	}

	.emailbar {
		width: 350px;
	}
}
