.tvShows {
	background: linear-gradient(
		325.6deg,
		#00f0ff -0.29%,
		rgba(0, 0, 0, 0.87) 68.24%
	);
	min-height: 100vh;
	min-width: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}
.tvShowsButton {
	height: 35px;
	max-width: 100px;
	cursor: pointer;
	margin-left: 20px;
	margin-top: 100px;
	background: linear-gradient(
		263.41deg,
		rgba(1, 141, 185, 0.71) 0%,
		#02ffd1 100%
	);
	border-radius: 5px;
	color: white;
	border: none;
	outline: none;
}
