.tvShowsRow {
	display: flex;
	flex-direction: column;
	overflow-x: scroll;
	margin-top: 30px;
	margin-left: 20px;
}

.tvShowsRow > p {
	color: white;
	text-align: left;
	padding-bottom: 12px;
	font-family: Roboto;
	font-style: normal;
	font-size: 25px;
}
.tvShowsRowImages {
	display: flex;
	overflow-x: scroll;
	grid-gap: 0.5px;
}
