.tvShowsRow {
	display: flex;
	flex-direction: column;
	overflow-x: scroll;
	margin-top: 30px;
	margin-left: 20px;
}

.tvShowsRow > p {
	color: white;
	text-align: left;
	padding-bottom: 12px;
	font-family: Roboto;
	font-style: normal;
	font-size: 25px;
	font-weight: bold;
}
.tvShowsRowImages {
	display: flex;
	overflow-x: scroll;
	grid-gap: 0.5px;
}

.rightRowImage {
	height: 350px;
	transform: scale(1);
	transition: transform 400ms ease-in-out;
}

.rightRowPosters {
	position: relative;
	overflow: hidden;
	border-radius: 40px;
	display: flex;
	cursor: pointer;
	margin-right: 20px;
}

.rightRow_imageBackdrop {
	position: absolute;
	display: flex;
	justify-content: space-around;
	height: 100%;
	width: 100%;
	background: radial-gradient(
		76.27% 76.27% at 53.32% 100%,
		#000000 0%,
		rgba(0, 0, 0, 0.3) 100%
	);
	bottom: -200%;
	left: 0;
}
.rightRow_imageBackdropButtons {
	margin-top: auto;
	margin-bottom: 20px;
	display: flex;
}
.rightRow_imageBackdropButtons > div {
	margin: 0;
	outline: none;
	background: linear-gradient(
		263.41deg,
		rgba(1, 141, 185, 0.71) 0%,
		#02ffd1 100%
	);
	color: white;
	border: none;
	margin-right: 19px;
	border-radius: 100%;
	padding: 20px;
	text-align: center;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.rightRow_imageBackdropButtons > div > i {
	font-weight: 600;
	font-size: 20px;
}

.rightRowPosters:hover .rightRow_imageBackdrop {
	bottom: 0;
}
.rightRowPosters:hover .rightRowImage {
	transform: scale(1.1);
}
