.tvShowsRow::-webkit-scrollbar {
	display: none;
}
.tvShowsRowImages::-webkit-scrollbar {
	display: none;
}
.tvShowsRowImages {
	margin-top: 10px;
	margin-bottom: 20px;
}
.tvShowsRowsPosters {
	display: flex;
	justify-content: center;
}

.leftRowPosters {
	display: flex;
	flex-direction: column;
}

.leftRowPosters__top,
.leftRowPosters__bottom {
	display: flex;
}

.leftRowPosters__top {
	margin-bottom: 20px;
}

.rightRowPosters {
	display: flex;
	min-width: 500px;
}

.rightRowPosters > img {
	height: 718px;
	border-radius: 40px;
	object-fit: contain;
}


